.pagination {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.btn {
  box-shadow: 0px 0px 4px 0px #0000004D;
  background: #FFFFFF;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.page__number {

}

