.main__page {
  margin: 0 auto;
  padding: 20px 32px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  gap: 24px;
}


