.header {
  padding: 26px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  box-sizing: border-box;
  background: #333333;
}

.link {
  opacity: 1;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}


