@import url("vendor/normalize.css");
@import url("variables/global.css");

body {
  font: var(--font-s);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

.app {
  background: #eaeaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font: var(--font-l);
  margin: 0;
}

h2 {
  font: var(--font-m);
  margin: 0;
}
